@use '../../variables.scss';

.skeleton.photo{
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: variables.$background-color; 
}

.skeleton.name,
.skeleton.email,
.skeleton.group,
.skeleton.button,
.skeleton.role{
    margin: 0 10px;
    height: 10px;
    border-radius: 3px;
    background-color: variables.$background-color; 
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}