@use '../../variables.scss';

// ======== Layout Styles ======== //
.content__header{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    h1{
        margin-right: auto;
    }
    a {
        padding: 0.25rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: variables.$primary-color;
        margin-right: 1rem;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        // border: 2px solid variables.$green-color;
    }
    select{
        padding: 0.25rem;
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
        background: transparent;
        & option{
            background: variables.$background-color;
        }
    }
}

.content__courses{
    // display: flex;
    // flex-wrap: wrap;
    // gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
    padding: 2rem 0;
}