@use '../../variables.scss';

.add-block{
    &__form {
        padding: 1rem;
        width: 330px;
        align-self: center;
        background-color: variables.$secondary-color;
        border-radius: 3px;
    }
    &__input{
        display: block;
        width: 100%;
        padding: 10px 15px;
        border-radius: 3px;
        border: 1px solid rgb(71, 71, 71);
    }
    &__files{
        display: block;
        padding: 2rem 0;
        margin: 0.8125rem 0;
        text-align: center;
        border-radius: 3px;
        border: 2px dashed rgb(100, 100, 100);
        background-color: variables.$background-color;
        font-weight: 800;
        &:hover{
            cursor: pointer;
        }
    }
    &__selected{
        padding: 0 10px;
        width: 100%;
        list-style: none;
        font-size: 0.875rem;
        li{
          font-weight: 600;  
        }
    }
    &__placeholder{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__button{
        display: block;
        margin-top: 0.5rem;
        padding: 5px 10px;
        color: variables.$accent-color;
        border: 1px solid variables.$accent-color;
        border-radius: 3px;
        background-color: transparent;
        &:hover{
            cursor: pointer;
        }
    }
    &__hint{
        font-size: 0.75rem;
        font-weight: 600;
        color: #646464;
    }
    &__error{
        margin-top: 0.5rem;
        font-size: 1.125rem;
        font-weight: 800;
        color: variables.$accent-color;
    }
}

.oversize-error{
    font-size: 0.875rem;
    color: variables.$accent-color;
}

.error{
    border: 2px solid variables.$accent-color;
}
.error-dashed{
    border: 2px dashed variables.$accent-color;
}