@use '../../variables.scss';

.profile-card{
    &__photo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: variables.$background-color;
        img{
            border-radius: 50%; 
        }
    }
    &__name{
        margin: 0.5rem 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 800;
    }
}

.profile-info{
    padding: 0 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    width: 300px;
    background-color: variables.$secondary-color;
}

.profile-block{
    padding: .5rem 0;
    &__label{
        font-weight: 700;
    } 
    &:not(:last-child){
        border-bottom: 1px solid black;
    }
}