@use '../../variables.scss';

.content__users{
    margin-top: 2rem;
    border-radius: 5px;
    background-color: variables.$secondary-color;
}

.users__labels{
    display: flex;
    align-items: center;
    padding: 1rem;
    & > div{
        flex: 1;
        text-align: center;
    }
    color: white;
    background-color: variables.$primary-color;
    border-radius: 5px 5px 0 0;
}

.users__info{
    display: flex;
    flex-direction: column;
    height: 560px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: #888;
    }
      
    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}